{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 80,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
